<div class="incoming_msg" *ngIf="currentUserId!=message.sender.id">
  <div class="incoming_msg_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
  <div class="received_msg">
    <div class="received_withd_msg">
      <p>{{message.content}}</p>
      <span class="time_date">{{message.time}}</span></div>
  </div>
</div>
<div class="outgoing_msg" *ngIf="currentUserId==message.sender.id">
  <div class="sent_msg">
    <p>{{message.content}}</p>
    <span class="time_date">{{message.time}}</span></div>
</div>
