<div class="tab-pane fade" id="passwordSettings" role="tabpanel" aria-labelledby="change-password-tab">
  <form [formGroup]="changePasswordForm" (ngSubmit)="saveNewPassword()">
    <div class="form-group">
      <label for="currentPassword">Current password</label>
      <input type="password" class="form-control password-input" id="currentPassword" formControlName="currentPassword"
             placeholder="Current password">
      <div *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)">
        <small id="info-current-password" class="form-text text-danger password-input"
               *ngIf="currentPassword.errors.required">
          Pass your current password.
        </small>
        <small class="form-text text-danger" *ngIf="currentPassword.errors.minlength">
          Current password can not be empty.
        </small>
        <div *ngIf="currentPassword.getError('violations')">
          <small class="form-text text-danger" [innerHTML]="currentPassword.getError('violations')">
          </small>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="newPassword">New password</label>
      <input type="password" class="form-control password-input" id="newPassword" formControlName="newPassword"
             placeholder="New password">
      <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
        <small id="info-new-password" class="form-text text-danger" *ngIf="newPassword.errors.required">
          Pass your new password.
        </small>
        <div *ngIf="newPassword.getError('violations')">
          <small  class="form-text text-danger" [innerHTML]="newPassword.getError('violations')">
          </small>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmNewPassword">Confirm new password</label>
      <input type="password" class="form-control password-input" id="confirmNewPassword"
             formControlName="confirmNewPassword"
             placeholder="Confirm new password">
      <div *ngIf="confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched)">
        <small id="info-confirm-password" class="form-text text-danger" *ngIf="confirmNewPassword.errors.required">
          Confirm new password.
        </small>
        <div *ngIf="confirmNewPassword.getError('violations')">
          <small class="form-text text-danger" [innerHTML]="confirmNewPassword.getError('violations')">
          </small>
        </div>
      </div>
    </div>
    <p class="lead text-center">
      <input type="submit" class="btn btn-primary" value="Save new password"/>
    </p>
  </form>
</div>
