<div id="nav" class="pure-u">
  <a href="#" class="nav-menu-button">Menu</a>
  <div class="nav-inner">
    <button class="primary-button pure-button">Add friend</button>
    <div class="pure-menu">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Go to chat <span class="message-count">(2)</span></a>
        </li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Invitations</a></li>
        <li class="pure-menu-heading">Settings</li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span
          class="nav-label-settings"></span>Profile</a>
        </li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="nav-label-logout"></span>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
