<div class="home-container text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand"><a class="nav-link" routerLink="/dashboard">Back</a></h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" (click)="logout()" href="#">Logout</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Settings</h1>
      <ul class="nav justify-content-center" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#accountSettings" (click)="accountSettings()" data-toggle="tab" role="tab">Account information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#passwordSettings" (click)="passwordSettings()" data-toggle="tab" role="tab">Change password</a>
        </li>
      </ul>
      <div class="tab-content text-left" id="myTabContent">
        <div *ngIf="displayAccountSettings">
          <app-account></app-account>
        </div>
        <div *ngIf="displayPasswordSettings">
          <app-change-password></app-change-password>
        </div>
      </div>
    </main>

    <footer class="mastfoot mt-auto">
    </footer>
  </div>
</div>
