<div role="alert" [ngClass]="isNotificationVisible ? 'notification':'notification-hide'" #notification>
  <span>{{notificationMessage}}</span>
</div>
<div class="row text-center shadow-lg p-3 mb-5 bg-white rounded remove-friend-alert" *ngIf="showDeleteFriendPrompt">
  <div class="col-12">
    <span style="font-size: 20px">Are you sure you want to delete this friend?</span>
  </div>
  <div class="col-12 mt-4">
    <button type="button" class="btn btn-primary text-left" (click)="deleteFriend()">Yes, Im sure!</button>
  </div>
  <div class="col-12 mt-4">
    <button type="button" class="btn btn-danger text-right" (click)="cancelDeleteFriend()">Cancel</button>
  </div>
  <div class="col-12">
    <span style="font-size: 12px; color: #eb453a">We also remove all your messages with this user.</span>
  </div>
</div>
<div class="container fill" [ngClass]="showDeleteFriendPrompt ? 'blur-container':''">
  <div class="row fill shadow-lg p-3 mb-5 bg-white rounded">
    <div class="col-sm-4 chat-box-left">
      <div class="row chat-box-left-header">
        <div class="col-sm-12 h-100">
          <div class="row h-100">
            <div class="col-12 h-100">
              <div *ngIf="isActiveFriendComponent">
                <span class="left-header-text-user">Hello {{currentUser.firstName + ' ' + currentUser.lastName}}</span>
                <span
                  class="left-header-text-friends-code">Friends code: {{currentUserChatProfile.friendsRequestCode}}
                </span>
              </div>
              <div class="h-100"
                   *ngIf="isActiveFriendRequestComponent || isActiveAddFriendComponent || isActiveSettingsComponent">
                <div class="row h-100">
                  <div class="col-4 m-auto">
                    <input class="back-button" type="image" src="/assets/img/back.svg" (click)="showFriendComponent()"/>
                  </div>
                  <div class="col-8 text-right m-auto">
                    <span class="left-header-friend-request-text"
                          *ngIf="isActiveFriendRequestComponent">Friends request</span>
                    <span class="left-header-friend-request-text"
                          *ngIf="isActiveAddFriendComponent">Invite new friend</span>
                    <span class="left-header-friend-request-text"
                          *ngIf="isActiveSettingsComponent">Settings</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row chat-box-left-list">
        <div class="col-sm-12 friends-list-box h-100" style="overflow-y: auto;">
          <!-- Friend component-->
          <div *ngIf="isActiveFriendComponent && friendsChats.length !== 0">
            <div *ngFor="let friendChat of friendsChats">
              <app-friend-chat [conversation]="friendChat"
                               [isNewMessage]="isNewMessage"
                               [onClickComponent]="clickFriendComponent"
                               (click)="enterFriendChat(friendChat.id)"></app-friend-chat>
            </div>
          </div>
          <div class="text-center" style="margin-top: 40%;"
               *ngIf="isActiveFriendComponent && friendsChats.length === 0">
            <img src="/assets/img/friend_theme.svg" style="max-width: 75%">
            <br><br>
            <span style="font-size: 20px"><b>You don't have any friends</b></span>
          </div>
          <!-- -->
          <!-- Friend request component-->
          <div *ngIf="isActiveFriendRequestComponent && receivedFriendRequests.length !== 0">
            <div *ngFor="let friendsRequest of receivedFriendRequests">
              <app-received-friend-request [friendRequest]="friendsRequest"
                                           (friendsRequestReply)="onReplyFriendsRequest($event)"></app-received-friend-request>
            </div>
          </div>
          <div class="text-center" style="margin-top: 40%;"
               *ngIf="isActiveFriendRequestComponent && receivedFriendRequests.length === 0">
            <img src="/assets/img/sad_blue.svg" style="max-width: 75%">
            <br><br>
            <span style="font-size: 20px"><b>No new requests</b></span>
            <br>
            <span>When people send you friend requests, they'll appear here.</span>
          </div>
          <!-- -->
          <!-- Add friend-chat component-->
          <div *ngIf="isActiveAddFriendComponent">
            <div class="row">
              <div class="input-group mb-3" style="padding: 5px">
                <input type="text" class="form-control input-friend-code" placeholder="Friend code"
                       aria-label="Friend code" aria-describedby="basic-addon2" #friendCode>
                <div class="input-group-append">
                  <input type="image" class="btn btn-outline-primary border send-friend-request-button"
                         (click)="sendFriendRequest()"
                         src="/assets/img/letter.svg" width="60">
                </div>
              </div>
            </div>
            <div *ngIf="isActiveAddFriendComponent && sentFriendRequests.length !==0">
              <div *ngFor="let friendRequest of sentFriendRequests">
                <app-new-friend-request [friendRequest]="friendRequest"
                                        (friendsRequestHasDeleted)="onDeletedFriendsRequest($event)"></app-new-friend-request>
              </div>
            </div>
            <div class="text-center" style="margin-top: 40%;"
                 *ngIf="isActiveAddFriendComponent && sentFriendRequests.length === 0">
              <img src="/assets/img/empty_add_friend.svg" style="max-width: 75%">
              <br><br>
              <span style="font-size: 20px"><b>No sent friends request</b></span>
            </div>
          </div>
          <!-- -->
          <!-- Settings component -->
          <div class="text-center" style="margin-top: 40%;"
               *ngIf="isActiveSettingsComponent">
            <img src="/assets/img/settings.svg" style="max-width: 75%">
            <br><br>
            <span style="font-size: 20px"><b>Personal settings</b></span>
          </div>
          <!-- -->
        </div>
      </div>
      <div class="row chat-box-buttons">
        <div class="col-sm-12">
          <div class="row h-100 mr-0">
            <div class="col-3 text-center w-50 m-auto">
              <input class="left-buttons-menu-ico nav-button" type="image" src="/assets/img/add_friend.svg"
                     (click)="showAddFriendComponent()"/>
            </div>
            <div class="col-3 text-center w-50 m-auto">
              <input class="left-buttons-menu-ico nav-button" type="image" src="/assets/img/new_friends_request.svg"
                     (click)="showFriendRequestComponent()"/>
            </div>
            <div class="col-3 text-center w-50 m-auto">
              <input class="left-buttons-menu-ico nav-button" type="image" src="/assets/img/setting_ico.svg"
                     (click)="showSettingsComponent()"/>
            </div>
            <div class="col-3 text-center w-50 m-auto">
              <input class="left-buttons-menu-ico nav-button" type="image" src="/assets/img/logout.svg"
                     (click)="logout()"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 chat-box-right">
      <ng-container
        *ngIf="!isActiveSettingsComponent; then chat; else settings">
      </ng-container>
      <ng-template #chat>
        <div style="height: 7%;">
          <div class="row chat-current-person-container" *ngIf="currentFriendChat!==null">
            <div class="col-2 m-auto text-right">
              <img src="/assets/img/user_avatar.svg" alt="">
            </div>
            <div class="col-8 m-auto text-left">
              <span class="chat-current-person-text">
                {{currentRecipientUser.firstName + ' ' + currentRecipientUser.lastName}}
              </span>
            </div>
            <div class="col-2 m-auto text-right">
              <div class="btn-group dropleft">
                <input class="dropdown-toggle nav-button" id="dropdownMenuButton" type="image"
                       src="/assets/img/more.svg"
                       alt=""
                       style="max-width: 35px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item" (click)="deleteFriendAlert()">Remove</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="height: 73%">
          <div class="col-sm-12 messages-container" #messageContainer (scroll)="onScrollMessages($event)">
            <div class="row h-100" *ngIf="currentFriendChat === null">
              <div class="col-12 text-center m-auto w-50">
                <img src="/assets/img/begin_chat.svg" alt="" style="max-width: 50%;">
                <br>
                <br>
                <span>Choice your friend and start chatting.</span>
              </div>
            </div>
            <div class="h-100" *ngIf="currentFriendChat !== null">
              <div class="h-100" *ngIf="messageList.length === 0">
                <div class="row h-100">
                  <div class="col-12 text-center m-auto w-50">
                    <img src="/assets/img/no_message.svg" alt="" style="max-width: 50%;">
                    <br>
                    <span>Not found any message</span>
                  </div>
                </div>
              </div>
              <div *ngIf="messageList.length !== 0">
                <div *ngFor="let message of messageList">
                  <app-chat-message [message]="message" (afterRenderMessage)="scrollChatMessage()"
                                    #appMessage></app-chat-message>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="height: 20%">
          <div class="col-sm-12 h-100" *ngIf="currentFriendChat !== null">
            <div class="row h-100 m-0" style="padding: 10px;">
              <div class="input-group mb-3">
              <textarea class="form-control input-message h-100 send-message-textarea"
                        placeholder="Type a message"
                        aria-label="Type a message" aria-describedby="basic-addon2" #inputMessage
                        (keyup.enter)="sentMessage()"></textarea>
                <div class="input-group-append">
                  <input type="image" class="btn btn-outline-primary send-button" src="/assets/img/send.svg" width="50"
                         (click)="sentMessage()">
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #settings>
        <div class="row h-100">
          <div class="col-sm-12 messages-container">
            <div class="h-100">
              <app-settings (onSettingsOperation)="showNotificationMessage($event)"></app-settings>
            </div>
          </div>
        </div>
      </ng-template>

    </div>
  </div>
</div>
