/*.container {*/
/*  max-width: 1170px;*/
/*  margin: auto;*/
/*}*/

/*img {*/
/*  max-width: 100%;*/
/*}*/

/*.inbox_people {*/
/*  background: #f8f8f8 none repeat scroll 0 0;*/
/*  float: left;*/
/*  overflow: hidden;*/
/*  width: 40%;*/
/*  border-right: 1px solid #c4c4c4;*/
/*}*/

/*.inbox_msg {*/
/*  border: 1px solid #c4c4c4;*/
/*  clear: both;*/
/*  overflow: hidden;*/
/*}*/

/*.top_spac {*/
/*  margin: 20px 0 0;*/
/*}*/

/*.recent_heading {*/
/*  float: left;*/
/*  width: 40%;*/
/*}*/

/*.srch_bar {*/
/*  display: inline-block;*/
/*  text-align: right;*/
/*  width: 60%;*/
/*}*/

/*.bottom_settings_right {*/
/*  display: inline-block;*/
/*  text-align: right;*/
/*  width: 60%;*/
/*}*/

/*.bottom_settings_left {*/
/*  float: left;*/
/*  width: 40%;*/
/*}*/

/*.headind_srch {*/
/*  padding: 10px 29px 10px 20px;*/
/*  overflow: hidden;*/
/*  border-bottom: 1px solid #c4c4c4;*/
/*}*/

/*.bottom_settings {*/
/*  padding: 10px 29px 10px 20px;*/
/*  overflow: hidden;*/
/*  border-top: 1px solid #c4c4c4;*/
/*}*/

/*.recent_heading h4 {*/
/*  color: #00B0FF;*/
/*  font-size: 21px;*/
/*  margin: auto;*/
/*}*/

/*.srch_bar input {*/
/*  border: 1px solid #cdcdcd;*/
/*  border-width: 0 0 1px 0;*/
/*  width: 80%;*/
/*  padding: 2px 0 4px 6px;*/
/*  background: none;*/
/*}*/

/*.srch_bar .input-group-addon button {*/
/*  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;*/
/*  border: medium none;*/
/*  padding: 0;*/
/*  color: #707070;*/
/*  font-size: 18px;*/
/*}*/

/*.srch_bar .input-group-addon {*/
/*  margin: 0 0 0 -27px;*/
/*}*/

/*.inbox_chat {*/
/*  height: 550px;*/
/*  overflow-y: scroll;*/
/*}*/

/*.mesgs {*/
/*  float: left;*/
/*  padding: 30px 15px 0 25px;*/
/*  width: 60%;*/
/*}*/

/*.input_msg_write input {*/
/*  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;*/
/*  border: medium none;*/
/*  color: #4c4c4c;*/
/*  font-size: 15px;*/
/*  min-height: 48px;*/
/*  width: 100%;*/
/*}*/

/*.type_msg {*/
/*  border-top: 1px solid #c4c4c4;*/
/*  position: relative;*/
/*}*/

/*.msg_send_btn {*/
/*  background: #00B0FF none repeat scroll 0 0;*/
/*  border: medium none;*/
/*  border-radius: 50%;*/
/*  color: #fff;*/
/*  cursor: pointer;*/
/*  font-size: 17px;*/
/*  height: 33px;*/
/*  position: absolute;*/
/*  right: 0;*/
/*  top: 11px;*/
/*  width: 33px;*/
/*}*/

/*.messaging {*/
/*  padding: 0 0 50px 0;*/
/*}*/

/*.msg_history {*/
/*  height: 516px;*/
/*  overflow-y: auto;*/
/*  -ms-overflow-style: none; !* IE and Edge *!*/
/*  scrollbar-width: none; !* Firefox *!*/
/*}*/

/*.msg_history::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/

/*.notify {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  width: 100%;*/
/*  height: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  box-sizing: border-box;*/
/*  color: white;*/
/*  text-align: center;*/
/*  background: rgba(0, 18, 44, 0.72);*/
/*  overflow: hidden;*/
/*  transition: height .2s;*/
/*}*/

/*.notify > span {*/
/*  position: absolute;*/
/*  margin-top: 10px;*/
/*  left: 0;*/
/*  right: 0;*/
/*  text-align: center;*/
/*}*/


.notification, .notification-hide {
  position: fixed;
  height: 25px;
  left: 0;
  right: 0;
  box-sizing: border-box;
  color: white;
  text-align: center;
  background: rgba(0, 94, 6, 0.72);
  transition: height .2s;
}


.notification-hide {
  height: 0;
}


.container {
  padding-top: 2%;
  padding-bottom: 2%;
}

.fill {
  min-height: 100%;
  height: 100%;
}

.messages-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.messages-container::-webkit-scrollbar {
  display: none;
}


.chat-box-left {
  height: 100%;
  border-right: 1px solid #c4c4c4;
  background: #ffffff;
}

.chat-box-right {
  height: 100%;
}



.chat-box-left-header {
  height: 10%;
  border-bottom: 1px solid #c4c4c4;
}

.chat-box-left-list {
  height: 80%
}

.chat-box-buttons {
  height: 10%;
}

/* for mobile */
@media (max-width: 576px) {
  :host > .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .chat-box-left{
    border-right: 0;
  }
}
