<div>
  <div class="chat_people">
    <div class="chat_people_details">
      <div class="chat_ib">
        <div *ngIf="currentUserId === friendRequest.sender.id;else invitation">
          {{'You send the invitation to ' + friendRequest.recipient.firstName + ' ' + friendRequest.recipient.lastName}}
          <br>
          {{friendRequest.recipient.friendRequestCode}}
          <button>Cancel</button>
        </div>
        <ng-template #invitation>
          <div>
            {{'New invitation from ' + friendRequest.sender.firstName + ' ' + friendRequest.sender.lastName }}
            <button>Accept</button>
            <button>Reject</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

