<div class="tab-pane fade" id="passwordSettings" role="tabpanel" aria-labelledby="change-password-tab">
  <form [formGroup]="changePasswordForm" (ngSubmit)="saveNewPassword()">
    <div class="form-group">
      <label for="currentPassword">Current password</label>
      <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword"
             placeholder="Current password">
      <div
        *ngIf="changePasswordForm.controls['currentPassword'].invalid && (changePasswordForm.controls['currentPassword'].dirty || changePasswordForm.controls['currentPassword'].touched)">
        <small id="info-current-password" class="form-text text-danger"
               *ngIf="changePasswordForm.controls['currentPassword'].errors.required">
          Pass your current password.
        </small>
        <small class="form-text text-danger" *ngIf="changePasswordForm.controls['currentPassword'].errors.validation">
          {{currentPasswordValidationError}}
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="newPassword">New password</label>
      <input type="password" class="form-control" id="newPassword" formControlName="newPassword"
             placeholder="New password">
      <div
        *ngIf="changePasswordForm.controls['newPassword'].invalid && (changePasswordForm.controls['newPassword'].dirty || changePasswordForm.controls['newPassword'].touched)">
        <small id="info-new-password" class="form-text text-danger"
               *ngIf="changePasswordForm.controls['newPassword'].errors.required">
          Pass your new password.
        </small>
        <small class="form-text text-danger" *ngIf="changePasswordForm.controls['newPassword'].errors.validation">
          {{newPasswordValidationError}}
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmNewPassword">Confirm new password</label>
      <input type="password" class="form-control" id="confirmNewPassword" formControlName="confirmNewPassword"
             placeholder="Confirm new password">
      <div
        *ngIf="changePasswordForm.controls['confirmNewPassword'].invalid && (changePasswordForm.controls['confirmNewPassword'].dirty || changePasswordForm.controls['confirmNewPassword'].touched)">
        <small id="info-confirm-password" class="form-text text-danger"
               *ngIf="changePasswordForm.controls['confirmNewPassword'].errors.required">
          Confirm new password.
        </small>
      </div>
    </div>
    <p class="lead text-center">
      <input type="submit" class="btn  btn-secondary" value="Save new password"/>
    </p>
  </form>
</div>
