<div class="row chat"
     [ngClass]="{'active-chat' :  friendChat.id === currentFriendChat, 'inactive-chat' : friendChat.id !== currentFriendChat}">
  <div *ngIf="showNotification()" class="chat-notification"></div>
  <div class="col-2 text-center" style="position: relative; left: 5px;">
    <img src="/assets/img/user_avatar.svg" alt="" class="friend-ico">
  </div>
  <div class="col-7">
    <div class="row">
      <div class="col-12" style="font-size: 22px">
        {{recipientUser.firstName + ' ' + recipientUser.lastName}}
      </div>
      <div class="col-12">
        <span *ngIf="lastMessage.content; else noMessage" class="last-message">
          {{lastMessage.content}}
        </span>
      </div>
      <ng-template #noMessage>
        <span class="last-message"><i>No messages.</i></span>
      </ng-template>
    </div>
  </div>
  <div class="col-lg-3 text-right" style="font-size: 13px;">
    {{lastMessage.time | date: 'mediumDate'}}
  </div>
</div>

