<div class="chat_list active_chat">
  <div class="chat_people">
    <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
    <div class="chat_ib">
      <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
      <p>Test, which is a new approach to have all solutions
        astrology under one roof.</p>
    </div>
  </div>
</div>
<div class="chat_list">
  <div class="chat_people">
    <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"></div>
    <div class="chat_ib">
      <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
      <p>Test, which is a new approach to have all solutions
        astrology under one roof.</p>
    </div>
  </div>
</div>
