<img class="wave" src="assets/img/login_background.png">
<div class="container">
  <div class="img">
    <img src="assets/img/login_pic.svg">
  </div>
  <div class="login-content">
    <form action="#">
      <img src="assets/img/login_avatar.svg">
      <h2 class="title">Sign in</h2>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <input type="text" class="input" placeholder="Login or Email">
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <input type="password" class="input" placeholder="Password">
        </div>
      </div>
      <a href="#">Forgot Password?</a>
      <input type="submit" class="btn" value="Login">
    </form>
  </div>
</div>
